.DS_Store
.idea
.qodo
._*
.vscode
certbot-help.txt
*/node_modules
# Yarn is the canonical package manager (see CONTRIBUTING.md).
# Don't accidentally add npm lock files.
**/package-lock.json
docker/dev/dnsrouter-config.json.tmp
docker/dev/resolv.conf
